CREATE TABLE IF NOT EXISTS public.staff_profiles ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, store_id uuid REFERENCES public.stores(id) ON DELETE CASCADE, name text NOT NULL, pin text NOT NULL, pages text[] DEFAULT '{}'::text[], categories uuid[] DEFAULT '{}'::uuid[], created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) ); ALTER TABLE public.staff_profiles ENABLE ROW LEVEL SECURITY; CREATE POLICY "Staff profiles viewable by anyone" ON public.staff_profiles FOR SELECT USING (true); CREATE POLICY "Staff profiles insertable by anyone" ON public.staff_profiles FOR INSERT WITH CHECK (true); CREATE POLICY "Staff profiles updateable by anyone" ON public.staff_profiles FOR UPDATE USING (true); CREATE POLICY "Staff profiles deletable by anyone" ON public.staff_profiles FOR DELETE USING (true);
